<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="loginForm.controls.email.errors && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
        <span *ngIf="loginForm.controls.email.errors.required">Email is required.</span>
        <span *ngIf="loginForm.controls.email.errors.email">Invalid email format.</span>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password">
      <mat-error *ngIf="loginForm.controls.password.errors && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
        <span *ngIf="loginForm.controls.password.errors.required">Password is required.</span>
        <span *ngIf="loginForm.controls.password.errors.pattern">Password must be alphanumeric with 8-16 characters.</span>
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  